/* CSS CV */
body, h1, h3, h4, p, nav, form, input, textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #db2bf6;
    padding: 20px 0;
    color: white;
    text-align: center;
}

.titulo {
    font-size: 2.5em;
    font-weight: bold;
}

/* Nav */
.navegacion {
    background-color: #f8aaf7;
    text-align: center;
}

.navegacion-principal a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}

.navegacion-principal a:hover {
    background-color: #91c2f3;
}

/* Main */
main {
    padding: 20px;
}

.fondodatos, .fondoescuela, .formacion {
    background-color: #ecf0f1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.fondo-h3, h3 {
    font-size: 1.8em;
    color: #b9299ac7;
    margin-bottom: 15px;
    text-align: center;
}

h4 {
    font-size: 1.4em;
    color: #af02a7;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.contenedor-campos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.campo {
    flex: 1 1 45%;
}

.campo label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input, .campo textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

.campo textarea {
    height: 150px;
    resize: none;
}

input[type="submit"] {
    background-color: #ca2295;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2ecc71;
}

/* Footer */
footer {
    background-color: #f94ee2;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer marquee {
    font-size: 0.9em;
}
 /* Icono*/
.contenedor-icono {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100px; /* Asegúrate de que el contenedor tenga altura */
}


